.media
  .media-left
    = link_to user_path(comment.user.id) do
      = image_tag(comment.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
  .media-body
    %h4.media-heading#top-aligned-media
      = comment.user.name
    %P
      = comment.content
