.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
  .row
    .col-md-9.image-box
      '削除しました'

  .row.proto-description
    = link_to 'Topへ戻る', root_path, class: "btn btn-primary navbar-btn"
