.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.btn-default.btn-popular
          = link_to "はやってる", "/prototypes/:prototype_id/likes"
        %li.btn-default.btn-popular
          = link_to "あたらしい", root_path
      = link_to "たぐ", tags_path, class: "btn btn-default col-lg-1"
