.jumbotron
  .container.text-center
    = image_tag("bbzone_logo.png", alt: "BB ZONE - SHARE THE PHOTOS", height: "100px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.btn-default.btn-popular
          = link_to "Popular", "/prototypes/:prototype_id/likes"
        %li.btn-default.btn-popular
          = link_to "Newest", root_path
      = link_to "VIEW TAGS", tags_path, class: "btn btn-default col-lg-1"
